@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Major+Mono+Display&display=swap');

@font-face 
  font-family: HelveticaNeueRegular;
  src: url(/assets/fonts/HelveticaNeue-regular.otf);
@font-face 
    font-family: HelveticaNeueBold;
    src: url(/assets/fonts/HelveticaNeue-bold.otf);
    font-weight: bold;


body 
  // font-family: HelveticaNeueRegular, Helvetica,Arial,sans-serif
  font-family: 'Major Mono Display', monospace;

.font-bold
  font-family: HelveticaNeueBold, Helvetica,Arial,sans-serif
